@using Microsoft.Ajax.Utilities
@model Classroom.Models.Student

@{
    ViewBag.Title = "Create";
}

<h2 align="center">Create</h2>

<p align="center">
    @Html.ActionLink("Back to Students", "Index")
</p>
@if (ViewBag.userFlag == true)
{
    <h2 align="center">@ViewBag.errorMessage</h2>
}
else
{
    using (Html.BeginForm("Create", "Student", FormMethod.Post))
    {
        <div>
            @Html.AntiForgeryToken()
            <h4>Create a new account.</h4>
            <hr />
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Age, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Create" />
                </div>
            </div>

        </div>
    }
}
