@using Microsoft.Ajax.Utilities

@{
    ViewBag.Title = "Create";
}

<h2 align="center">Create</h2>

<p align="center">
    @Html.ActionLink("Back to Students", "Index")
</p>
@if (ViewBag.userFlag == true)
{
    <h2 align="center">@ViewBag.errorMessage</h2>

}
else
{
using (Html.BeginForm("Create", "Student", FormMethod.Post))
 {
     <table align="center">
         <tr>
             <td>
                 @Html.DisplayName("Last name")
                 @Html.TextBox("LastNameInput")
             </td>
         </tr>
         <tr align="center">
             <td>
                 @Html.DisplayName("First name")
                 @Html.TextBox("FIrstNameInput")
             </td>
         </tr>
         <tr align="center">
             <td>
                 @Html.DisplayName("Age")
                 @Html.TextBox("AgeInput")
             </td>
         </tr>
     </table>
     <br/>
     <div align="center">
         <input type="submit" name="submit" value="Create Student"><br/>
     </div>
 }
}
