@using Classroom.Models
@model Classroom.Models.Subjects

@{
    ViewBag.Title = "EditMarks";
}

<h2>EditMarks</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
   @*@(Model.StudentId=ViewBag.sId)*@
    <div class="form-horizontal">
        <h4>Subjects</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.StudentId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentId)
                @Html.ValidationMessageFor(model => model.StudentId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.English, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.English)
                @Html.ValidationMessageFor(model => model.English)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Afrikaans, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Afrikaans)
                @Html.ValidationMessageFor(model => model.Afrikaans)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Math, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Math)
                @Html.ValidationMessageFor(model => model.Math)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NaturalScience, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NaturalScience)
                @Html.ValidationMessageFor(model => model.NaturalScience)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Geography, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Geography)
                @Html.ValidationMessageFor(model => model.Geography)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.History, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.History)
                @Html.ValidationMessageFor(model => model.History)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LifeOrientation, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LifeOrientation)
                @Html.ValidationMessageFor(model => model.LifeOrientation)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
