@model List<Classroom.Models.DB_Models.Subject>
@{
    ViewBag.Title = "Index";
}
@if (!ViewBag.Error)
{
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" type="text/css">
  <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script type="text/javascript" src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  @*<link rel="stylesheet" href="/resources/demos/style.css">*@
  @*<link href="~/Content/jquery-ui.css" rel="stylesheet" />*@

  <style>
  /* IE has layout issues when sorting (see #5413) */
  .group { zoom: 1 }
  </style>
  <script>
      $(function() {
        $( "#accordion" )
          .accordion({
              header: "> div > h3",
              collapsible: true
          })
          .sortable({
            axis: "y",
            handle: "h3",
            stop: function( event, ui ) {
              // IE doesn't register the blur when sorting
              // so trigger focusout handlers to remove .ui-state-focus
              ui.item.children( "h3" ).triggerHandler( "focusout" );
 
              // Refresh accordion to handle new order
              $( this ).accordion( "refresh" );
            }
          });
      });
  </script>

<h2>My Subjects</h2>
<br/>
<h4><!--Needs Optimization-->
    @if (ViewBag.Error)
    {
        @ViewBag.ErrorMessage
    }
    else
    {
        @Html.ActionLink("Assign subjects to user", "AssignSubjects")
        <br />
    }
</h4>
<h4>
    <u>My Subjects:</u>
</h4>

    <div id="accordion">
    @for (int i = 0; i < ViewBag.mySubjects.Count; i++)
    {
        var name = ViewBag.mySubjects[i].Name;
        var sId = ViewBag.mySubjects[i].Id;
        var tasks = ViewBag.myTasks;
        <div class="group">
            <h3>@Html.ActionLink((string)name, "SubjectView", new { id = sId })</h3>
            <div>
               @* <p>Tasks to be included here...</p>*@
                @Html.ActionLink("Add new task", "AddTask", new { id = sId })

                <table>
                    <tr>
                        <th>
                            @Html.DisplayName("Date Given")
                        </th>
                        <th>
                            @Html.DisplayName("Submission Date")
                        </th>
                        <th>
                            @Html.DisplayName("Task Name")
                        </th>
                        <th>
                            @Html.DisplayName("Description")
                        </th>
                    </tr>
                    @for (int j = 0; j < tasks.Count; j++)
                    {
                        if (tasks[j].SubjectId == sId)
                        {
                            <tr>
                                <th>
                                    <h5> @tasks[j].DateGiven.Date</h5>
                                </th>
                                <th>
                                    <h5> @tasks[j].SubmissionDate.Date</h5>
                                </th>
                                <th>
                                    <h5> @tasks[j].TaskName</h5>
                                </th>
                                <th>
                                    <h5> @tasks[j].Description</h5>
                                </th>
                                <th>
                                    @Html.ActionLink("Show student marks for this task", "StudentTasks", new { id = tasks[j].Id }) |
                                </th>
                                <th>
                                    @Html.ActionLink("Delete Task", "DeleteStudentTask", new { id = tasks[j].Id })
                                </th>
                            </tr>
                        }
                    }
                  </table>
            </div>
        </div>
    }
    </div>

}
else
{
    <h3> @ViewBag.errorMessage</h3>
}



    @*using (Html.BeginForm())
    {
         <h2>Class Overview</h2>
<br/>

    <style>
        img {
            border: 2px solid #9da1a8;
        }
    </style>

    <div align="center">           
        Graph can also be drawn from DB data (http://www.w3schools.com/aspnet/webpages_chart.asp)
        <img src='@Url.Action("ChartMain", "Subject")'/>
    </div>*@

