@model List<Classroom.Models.DB_Models.Subject>
@{
    ViewBag.Title = "Index";
}
<head>
  <meta charset="utf-8">
  <title>jQuery UI Accordion - Sortable</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" type="text/css">
  <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script type="text/javascript" src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  @*<link rel="stylesheet" href="/resources/demos/style.css">*@
  <style>
  /* IE has layout issues when sorting (see #5413) */
  .group { zoom: 1 }
  </style>
  <script>
      $(document).ready(function () {
          $("#accordion").accordion();
      });
      $(function() {
        $( "#accordion" )
          .accordion({
            header: "> div > h3"
          })
          .sortable({
            axis: "y",
            handle: "h3",
            stop: function( event, ui ) {
              // IE doesn't register the blur when sorting
              // so trigger focusout handlers to remove .ui-state-focus
              ui.item.children( "h3" ).triggerHandler( "focusout" );
 
              // Refresh accordion to handle new order
              $( this ).accordion( "refresh" );
            }
          });
      });
  </script>
</head>
<h2>My Subjects</h2>
<br/>
<h4><!--Needs Optimization-->
    @if (ViewBag.Error)
    {
        @ViewBag.ErrorMessage
    }
    else
    {
        @Html.ActionLink("Assign subjects to user", "AssignSubjects")
        <br />
    }
</h4>
<h4>
    <u>My Subjects:</u>
</h4>
<h4>
    @for (int i = 0; i < ViewBag.mySubjects.Count; i++)
    {
        var name = @ViewBag.mySubjects[i].Name;
        var sId = @ViewBag.mySubjects[i].Id;
        <td>
            @Html.ActionLink((string)name, "SubjectView", new { id = sId })
        </td>
    }
</h4>

@if(ViewBag.dataFlag==true)
{
    @ViewBag.errorMessage
}
else
{
   /* using (Html.BeginForm())
    {
         <h2>Class Overview</h2>
<br/>

    <style>
        img {
            border: 2px solid #9da1a8;
        }
    </style>

    <div align="center">           
        <!--Graph can also be drawn from DB data (http://www.w3schools.com/aspnet/webpages_chart.asp)-->
        <img src='@Url.Action("ChartMain", "Subject")'/>
    </div>*/
}


<div id="accordion" class="ui-accordion ui-widget ui-helper-reset ui-sortable" role="tablist">
    <div class="group">
        <h3>Section 1</h3>
        <div>
            <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
        </div>
    </div>
    <div class="group">
        <h3>Section 2</h3>
        <div>
            <p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna. </p>
        </div>
    </div>
    <div class="group">
        <h3>Section 3</h3>
        <div>
            <p>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui. </p>
            <ul>
                <li>List item one</li>
                <li>List item two</li>
                <li>List item three</li>
            </ul>
        </div>
    </div>
    <div class="group">
        <h3>Section 4</h3>
        <div>
            <p>Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia mauris vel est. </p><p>Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
        </div>
    </div>
</div>