@model Classroom.Models.Subjects
@{
    ViewBag.Title = "Index";
}
<h2>My Subjects</h2>
<br/>
<h4><!--Needs Optimization-->
    @Html.ActionLink("Math", "Index")
    <br/><br />
    @Html.ActionLink("English", "Index")
    <br /><br />
    @Html.ActionLink("Afrikaans", "Index")
    <br /><br />
    @Html.ActionLink("Natural Science", "Index")
    <br /><br />
    @Html.ActionLink("History", "Index")
    <br /><br />
    @Html.ActionLink("Geography", "Index")
    <br /><br />
    @Html.ActionLink("Life Orientation", "Index")
</h4>
@if(ViewBag.dataFlag==true)
{
    @ViewBag.errorMessage
}
else{
       

   /* using (Html.BeginForm())
    {
         <h2>Class Overview</h2>
<br/>

    
    <style>
        img {
            border: 2px solid #9da1a8;
        }
    </style>
            <div align="center">           
                <!--Graph can also be drawn from DB data (http://www.w3schools.com/aspnet/webpages_chart.asp)-->
                <img src='@Url.Action("ChartMain", "Subject")'/>
            </div>*/
}
