@model List<Classroom.Models.DB_Models.StudentTasks>

@{
    ViewBag.Title = "StudentTasks";
}

<h2>@ViewBag.TaskName</h2>
<h4>Possible other heading here</h4>
@{
    var stasks = ViewBag.sTask;
    var students = ViewBag.Students;
    var tId = ViewBag.Task.Id;
    string[] mrks = new string[stasks.Count];
    var mIds = "mark";
    int i = 0;
    string[] ids = new string[stasks.Count];
}

<table draggable="true" title="StudentMarks">
    <tr>
        <th>

        </th>
        <th>
            @Html.DisplayName("Student Name")
        </th>
        <th>
            @Html.DisplayName("Mark")
        </th>
        <th>

        </th>
    </tr>
    @try
    {

        foreach (var item in Model)
        {
            //ids[i] = stasks[i].Id.ToString();
            if (item.TaskId.Equals(tId))
            {
                mIds = mIds.Substring(0, 4) + (i + 1);
            <tr>
                <th id="@i" name="@i">
                    @item.Id
                    
                </th="@item.Id">
                <th>
                    @students[i].FirstName
                    @students[i].LastName
                </th>
                <th id="@mIds" name="@mIds" contenteditable="true">
                    @item.Mark
                </th>
                <th>
                    @Html.ActionLink("Edit", "EditMark", new { id = item.Id })
                </th>
            </tr>
            }
            i++;
        }
    }
    catch (Exception ex)
    {

        //Log error and inform users
    }
</table>
<br />
    <a href='@Url.Action("StudentTasks", "Subject")' onclick='save(this.href);'>
        <input type="button" value='Submit' />
    </a>
  
<script>
    function save(target)
    {
        //alert("Here");
        var j = 1;
        var id = "mark" + j;
        var content = "";
        @{i = 0; }
        //var arr = new array(@i);
        while (document.getElementById(id))
        {
            try{
                //alert("in");
                 content += document.getElementById(j-1).innerText+"a"+document.getElementById(id).innerText+".";
                //arr[j-1] = content;
                j++;
                @{i++; }
                    id = "mark" + (j);
            }
            catch (err) { alert("Exception"); }

        }
        $.post(target, content);
        //alert("END");
    }
</script>

